__pycache__/proposition.cpython-36.pyc
__pycache__/graphic.cpython-36.pyc
__pycache__/graphlayer.cpython-36.pyc
__pycache__/
__pycache__/*.pyc
Results/blocks-world/*.png
__pycache__/action.cpython-36.pyc
__pycache__/goal.cpython-36.pyc
